
#box1 {
    background: rgb(255, 175, 175);
    width: 200px; height: 200px;
  }
  
  #box2 {
    background: rgb(96, 248, 96);
    width: 150px; height: 150px;
  }
  
  #box3 {
    background: rgb(170, 170, 241);
    width: 100px; height: 100px;
  }
  #boxa1 {
    background: rgb(255, 175, 175);
    width: 200px; height: 200px;
  }
  
  #boxa2 {
    background: rgb(96, 248, 96);
    width: 150px; height: 150px;
  }
  
  #boxa3 {
    background: rgb(170, 170, 241);
    width: 100px; height: 100px;
  }
  